eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/
  instance:
    leaseRenewalIntervalInSeconds: 10
    statusPageUrlPath: /actuator/info
    healthCheckUrlPath: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: refresh,heapdump,liquibase,loggers,prometheus,threaddump,info,metrics,health,admin
